body {
  height: 100vh;
}
#root {
  display: grid;
  height: 100%;
  background: #FFFFFF;

  grid-template-rows: 1fr;
  grid-template-columns: 100pt 1fr;
  grid-template-areas:
    "sidebar content";

  .sidebar {
    grid-area: sidebar;
    background: #F8FAFF;
  }

  .content {
    grid-area: content;
  }

}
