@import '~lato-font/scss/public-api';

$lato-font-path: '../../fonts';

@include lato-include-font('light');
@include lato-include-font('medium');

* {
  box-sizing: border-box;
  margin: 0;
  @include lato-font('light');
  font-size: 20px;
  font-style: bold;
}
#root {
  display: grid;
  height: 100%;
  background: #FFFFFF;

  grid-template-rows: 1fr;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
    "sidebar content";

  .sidebar {
    grid-area: sidebar;
    background: #F8FAFF;

    height: 100vh;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding-left: 7.5%;
      padding-right: 7.5%;

      > * {
        margin-right: 5px;
      }

      h1 {
        font-weight: normal;
        padding-top: 10%;
        padding-bottom: 10%;

        font-size: 200%;
      }
    }
  }

  .content {
    grid-area: content;

    height: 100vh;
  }

}
