.contact-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 1fr 2fr;

  grid-template-areas:
    "space space"
    "firstName lastName"
    "emails emails"
    "message message"
    "buttons buttons";

  height: 100%;

  .first-name {
    grid-area: firstName;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .last-name {
    grid-area: lastName;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .emails {
    grid-area: emails;
  }

  .message {
    grid-area: message;
  }

  .buttons {
    grid-area: buttons;
  }

}
