.contact-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 1fr 2fr;

  grid-template-areas:
    "space space"
    "firstName lastName"
    "emails emails"
    "message message"
    "buttons buttons";

  height: 100%;

  .first-name {
    grid-area: firstName;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .last-name {
    grid-area: lastName;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .emails {
    grid-area: emails;
    padding: 3%;
    
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 5px;

        button.remove {
          display: none;
        }

        &:hover button.remove {
          display: inline;
        }

        &.add-email {
          display: flex;
          flex-direction: row;
          color: #579AFF;

          cursor: pointer; 

          > div {
            margin-left: 1%;
            line-height: 25px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .message {
    grid-area: message;
  }

  .buttons {
    grid-area: buttons;

    padding: 3%;

    button {
      background: none;
      border: none;
      width: 13%;
      margin-left: 5%;
      border-style: solid;
      border-width: 1px;

      line-height: 200%;

      &.delete {
        background: #FF5757;
        border-color: #FF5757;
        color: #FFFFFF;
      }

      &.cancel {
        border-color: #579AFF;
      }

      &.save {
        background: #579AFF;
        border-color: #579AFF;
        color: #FFFFFF;
      }
    }
  }

}
